{% extends "base.html" %}
{% block title %}Enrvshmnt О НАС{% endblock %}

<html>
<body>
    {% block content %}
    <br>
    <h2>
        Мы на карте:
    </h2>
    <iframe src="https://www.google.com/maps/d/embed?mid=1vdK2bVbVE74C5k8V5-N_h54GvMgUbVmI" width="600" height="480"></iframe>
    <br />
    <br>
    <form method="POST">
        <legend>Расскажите о себе</legend>
        Представьтесь <input type="text" name="name" placeholder="Ваше имя"> <br>
        Почта для обратной связи <input type="email" name="email" placeholder="Ваша почта"><br>
        Оставьте Ваш отзыв, пожелания или предложения<br>
        <textarea name="review" id="" cols="60" rows="5"></textarea>
        <br>
        <input type="submit">
        <input type="reset">
    </form>
    <br>
    <h1>Отзывы:</h1>
    {% for i in reviews %}
        <div class="review">
            От: {{i.name}} <br>
            {{i.text}}
        </div>
    {% endfor %}
    {% endblock %}
</body>

</html>