<!DOCTYPE html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/icon.png') }}" type="image/png">    
    <meta charset="UTF-8">
    <title>{% block title %}Enrvshmnt О НАС{% endblock %}</title>
    {% endblock %}
</head>

<html>
<body>
    <header class="header">
        {% block header %}
        <ul>
            <li>
                <a href="/">
                    Главная
                </a>
            </li>

            <li>
                <a href="/catalog">
                    Каталог
                </a>
            </li>

            <li>
                <a href="/about">
                    О нас
                </a>
            </li>
        </ul>
        {% endblock %}
    </header>


    <div id="content">{% block content %}{% endblock %}</div>


    <footer>
        {% block footer %}
        <div>
            <br>
            Контактная информация:
            <br>
            <br>
            Директор
            <br>
            Енр Ави Шмент
            <br>
            younenravishment@atd.com
            <br>
            +672911
            <br>
            <br>
            © 2004–2021 ПАО «Енравишмент»
        </div>
        <div align="right">
            <br />
            Адрес:
            <br />
            Антакрктида, 01122019
            <br />
            Улица Пингвинов, дом Бабуинов
        </div> 
        {% endblock %}
    </footer>
    
</body>

</html>