{% extends "base.html" %}
{% block title %}Enrvshmnt КАТАЛОГ{% endblock %}


<html>

<body>
    {% block content %}
    <div class="container">
        <div>
            <img src="pictures/coldice.jpg">
            <a href="coldice.html">
                Холодный лёд (9990₽ - 100г)
            </a>
        </div>
        <div>
            <img src="pictures/hotice.jpg">
            <a href="hotice.html">
                Тёплый лёд (15700₽ - 100г)
            </a>
        </div>
        <div>
            <img src="pictures/finskyice.jpg">
            <a href="finskyice.html">
                Финский лёд (28700₽ - 100г)
            </a>
        </div>
    </div>
    {% endblock %}

</body>

</html>