{% extends "base.html" %}
{% block title %}Enrvshmnt ГЛАВНАЯ{% endblock %}
<html>
<body>
    {% block content %}
    <h3>
        Доставка льда по всему Миру
        <br />
        Компания «ENRAVISHMENT» была основана Енр Ави Шмент (фин. Enr Avi Shment, 1985-н.вр.)  в Антарктиде в 2004. В молодости Енр Ави некоторое время жил в Финляндии, где работал официантом в отеле «Holod».  Лёд, который он разносил постояльцам произвели на него такое впечатление, что, вернувшись в Антарктиду, он решил заняться ледовым мастерством и открыл производство, которое занималась изготовлением холодного, тёплого и фирменного финского льда. В 2004 году Енр Ави открыл свой первый магазин в Антарктиде.
        <br>
        В данный момент компания занимает лидирующее место в мире по производсту и продажам льда. Эксклюзивный вкус, который не оставит равнодушным никого.
    </h3>
    {% endblock %}
</body>

</html>